
body{
  font-family: "Slackey", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:antiquewhite;
  background: #12151e;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

p{
    font-size:30px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  height:95vh;
  gap:50px;

}

.jokesetup{
    font-size: 40px;
}

.jokedelivery{
    font-size:30px;
}

.newjoke{
    border-style:none;
    padding:20px;
    border-radius:10px;
    background-color:rgb(7, 134, 245);

}